<!DOCTYPE html>
<html ng-app='ngw'>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/angular.js"></script>
    <!--    <script src="js/angular-1.0.0.js"></script>-->
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controller.js"></script>
</head>
<script>
    var config = {
        menuUrl: 'ajax/menu.json'
    }
</script>

<body class="c-bgColor-e">
    <!--<body class="c-bgColor-e">-->

    <div id="head" class="c-bgColor-main">
        <div class="l-table-collapse l-table-middle">
            <div class="l-table-cell" id="start">
                <div class="logo"></div>
                <div id="menu" ng-controller='menu' class="c-bAlpha-9">
                    <div class="l-segment l-border-0">
                        <div class="l-table l-table-middle">
                            <div class="l-table-cell">头像</div>
                            <div class="l-table-cell">代用名</div>
                        </div>
                        <div class="l-table l-table-collapse">
                            <div class="l-table-cell l-align-top" style="width: 15em;">

                                <div class="l-table l-table-collapse list" ng-repeat='(key,value) in menu track by $index'>
                                    <div class="l-table-cell ico {{value.ico}}"></div>
                                    <div class="l-table-cell title">{{key}}</div>
                                </div>
                            </div>
                            <div class="l-table-cell">
                                <div class="ad"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-table-cell">您好：代用名 欢迎使用***</div>
            <div class="l-table-cell l-align-right"><a href="" class="m-button-alpha">退出</a>
            </div>
        </div>
    </div>
    <div ng-controller='mycontroller' ng-mousemove='move()'>
        <div resize>
            window.height: {{windowHeight}}
            <br />window.width: {{windowWidth}}
        </div>
        <!--    11月24日-->
        <div tagname>123</div>
        <div class="l-divider"></div>
        <!--    11月25日-->
        <!--    要把Accordion.html文件搞清楚 一个Accordion插件-->
        <div accordion="" default=2 class="m-accordion">
            <div accordionunit class="c-unit" ng-repeat='data in accordionData' title='data.title'>
                {{data.text}}
            </div>
        </div>
    </div>

    <!--   <accordion>
          <expander class='expander' ng-repeat='expander in expanders' expander-title='expander.title'>
              {{expander.text}}
          </expander>
      </accordion> -->
</body>

</html>
